{% extends "/base/all_nav_base.html" %}
{% block container_outer %}
    <div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 989px;">
        {{macro_leftsideContainer()}}
        <aside class="right-side" id="aside-right-side">
            {% block rightsideContainer%}
            {% endblock %}
        </aside>
    </div>
{% endblock %}

{%- macro macro_leftsideContainer() -%}
    <aside class="left-side sidebar-offcanvas" style="min-height: 989px;">
        <section class="sidebar" id="section-tree">
        </section>
    </aside>
{%- endmacro %}

{% block nav_js%}
<script>
    $(function() {
        options = {
            username: "{{user_name}}",
            treeSchema: "{{tree_schema}}",
            xboxDomain: "http://norns.pt.xiaomi.com",
        }
        var xboxTree = new XboxTree();
        xboxTree.init('#section-tree', options);
        xboxTree.dbclick(function(tagstring){
            if (tagstring != "" && tagstring != null) {
                var url = $.url(location.href);
                var href = url.attr('path') +"?tagstring="+tagstring;
                window.open(href, '_self');
            }
        });
        xboxTree.hide(function(){
            $('aside.left-side').hide();
            $("#aside-right-side").removeClass("right-side");
        });
        xboxTree.show(function(){
            $('aside.left-side').show();
            $("#aside-right-side").addClass("right-side");
        });
    });
</script>
{% endblock %}
