{% import "/base/blocks.html" as blocks %}
{% import "/base/footer.html" as footer %}

{% extends "/base/all_base.html" %}

{% block nav%}
    {{blocks.nav_block(user_name)}}
<script>
    $(function(){
        $(".navbar-nav li").each(function(){
            var a = $(this).find("a:first")[0];
            if ($(a).attr("href") === location.pathname){
                $(this).addClass("active");
                $(a).append('<i class="fa fa-check"></i>');
            }
        });

        $(".left-side li").click(function(){
            xboxBaseWaitMe($(this));
        });
    });
</script>
{% endblock %}

{% block container_outer %}
    <div class="wrapper row-offcanvas row-offcanvas-left" style="min-height: 989px;">
        <aside class="">
            <!-- 通知顶部 alert-danger alert-warning alert-success alert-info  <a href="/tree/upgrades" target="_blank">升级功能详情</a>  -->
            <div id="myCarousel" class="carousel " style="">
                <div id="nav_message" class="carousel-inner announcement "> </div>
            </div>

            {% block rightsideContainer%}
            {% endblock %}
        </aside>
    </div>

<script>
$(function(){
    jQuery.ajax({
        url:"http://xbox.pt.xiaomi.com/dashboard/api/announcement/display",
        dataType:'json',
        success: function(data) {
          for (index in data) {
            var announcement = data[index];
            var cookie_nav_message_name = "nav_message_item"+announcement['id'];
            var nav_message_status = $.cookie(cookie_nav_message_name);
            if (nav_message_status == 'hide') {
              continue;
            }
            var item = '<div class="text-center item alert alert-'+announcement['level']+'" style="margin-top: 0px; margin-left: 0px;">'
                item += '<button class="close" announcement_id="'+announcement['id']+'">&times;</button>'
                item += '<div class="">【<strong class="key_word">'+announcement['key_word']+'</strong>】'
                item += '<font class="title">'+announcement['title']+'</font>'
                item += '<a href="http://xbox.pt.xiaomi.com/dashboard/announcement/'+announcement['id']+'/index" target="_blank">   (详情)</a>'
                item += '</div></div>'
            $("#nav_message").append(item);
          }

          if ($("#nav_message").html() != "") {
            $('#myCarousel').show();
            $('#myCarousel').carousel({interval: 8000});
            $("#nav_message .item").first().addClass("active");
            $(".close").click(function(){
                $(this).parent().remove();
                var announcement_id = $(this).attr('announcement_id');
                var cookie_nav_message_name = "nav_message_item"+announcement_id;
                $.cookie(cookie_nav_message_name, 'hide', { path: '/' });
                if ($("#nav_message .item").length == 0) {
                  $('#myCarousel').remove();
                }
                else {
                  $('#myCarousel').carousel('next');
                }
            });
          }

        },
        complete:function(xhr, textStatus) {
        }
      });
});
</script>
{% endblock %}

{% block footer%}
    {{footer.footer_block()}}
{% endblock %}

