{% macro nav_block(user_name) -%}
<header class="header">
  <a href="/" class="logo">
      <!-- Add the class icon to your logo image or logo icon to add the margining -->
      owner-control
      <sup style="color:red">beta</sup>
  </a>
  <!-- Header Navbar: style can be found in header.less -->
  <nav class="navbar navbar-static-top" role="navigation">
      <ul class="nav navbar-nav">
                <li>
                    <a href="http://xbox.pt.xiaomi.com" target="_blank">
                        <span>xbox首页</span>
                    </a>
                </li>
      </ul>

      <div class="navbar-right">
          <ul class="nav navbar-nav">
              <!-- Tasks: style can be found in dropdown.less -->
              <li class="dropdown tasks-menu">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="fa fa-tasks"></i>
                      <span class="label label-success nav-tasks-cnt">0</span>
                  </a>
                  <ul class="dropdown-menu">
                      <li class="header">当前正在运行的任务数：<span class="nav-tasks-cnt">0</span> </li>
                      <li >
                        <ul class="menu" id="li-display-tasks">
                                        <li><!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="widt>
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li><!-- end task item -->

                        </ul>
                      </li>
                      <li class="footer">
                          <a href="/tasks/index">查看所有任务</a>
                      </li>
                  </ul>
              </li>
              <!-- User Account: style can be found in dropdown.less -->
              <li class="dropdown user user-menu" id="user-menu-username" username="{{user_name}}">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      <i class="glyphicon glyphicon-user"></i>
                      <span>{{user_name}} <i class="caret"></i></span>
                  </a>
                  <ul class="dropdown-menu">
                      <!-- User image -->
                      <li class="user-header bg-light-blue">
                          <a href="https://www.mioffice.cn/user/home" target="_blank">
                            <img src="https://www.mioffice.cn/API/avatar?username={{user_name}}" class="img-circle" alt="User Image" style="width:150px; height:150px" />
                          </a>
                      </li>
                      <!-- Menu Footer-->
                      <li class="user-footer">
                          <div class="pull-left">
                              <a href="http://xbox.pt.xiaomi.com/tree/user/index" target="_blank" class="btn btn-default btn-flat">个人资料</a>
                          </div>
                          <div class="pull-right">
                              <a href="/login/out" class="btn btn-default btn-flat">Sign out</a>
                          </div>
                      </li>
                  </ul>
              </li>
          </ul>
      </div>
  </nav>
</header>

{%- endmacro %}
